.review-container {
  color: white;
}

.profile-img {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.reviews-title {
  font-weight: 900;
  font-size: 3rem;
}

.review {
  display: flex;
  margin-top: 3rem;
  border-bottom: 1px solid lightcoral;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.review-author {
  margin-left: 1rem;
  height: 60px;
  display: flex;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  list-style: none;
  background-color: #1c1c1c; /* 어두운 배경색 */
}

/* 각 페이지 항목 */
.page-item {
  margin: 0 5px;
}

.page-link {
  color: #ffffff; /* 글자색 흰색 */
  background-color: #333; /* 페이지 링크 배경 어두운 색 */
  border: 1px solid #444;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* hover 시 효과 */
.page-link:hover {
  background-color: #555; /* hover 시 조금 더 밝게 */
  color: #ffffff;
}

/* 활성화된 페이지 */
.active .page-link {
  background-color: #ff6347; /* 활성화된 페이지는 주황색으로 강조 */
  border-color: #ff6347;
  color: #fff;
}

/* previous/next 버튼 */
.page-item a {
  cursor: pointer;
}

/* '...' break */
.break-link {
  color: #999;
}